.blank-card-container {
  width: 20rem;
  height: 28rem;
  padding: 0rem 0.5rem;

  overflow: hidden;
  --type-color-transparent: rgba(255, 255, 255, 0.489);
  background: linear-gradient(
      var(--type-color-transparent),
      var(--type-color-transparent)
    ),
    url(https://static.vecteezy.com/system/resources/thumbnails/004/837/100/small/grey-watercolor-paper-or-concrete-grunge-background-vector.jpg);
  background-size: 20rem;
  border: solid rgb(228, 199, 9) 1rem;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
}
