#home-page-container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;

  background-color: var(--color-bg-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#title {
  width: 100%;
  padding: 0.8rem 0;
  font-size: 2.5rem;

  text-align: center;
  background-color: var(--color-bg-secondary);
  letter-spacing: 0.3rem;
}

#generate-form {
  padding: 1.5rem;

  border-radius: 1rem;
  background-color: var(--color-bg-secondary);
}

#form-input-container {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

#form-input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.button {
  padding: 0.5rem;

  border-radius: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  border: solid 2px transparent;
  /* Remove a tag styling */
  text-decoration: none;
  font-weight: normal;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.button:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
  border: solid 2px var(--color-accent);
}

.container {
  padding: 1.5rem;

  border-radius: 1rem;
  background-color: var(--color-bg-secondary);
}

#option-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

footer {
  width: 100%;
  padding: 1rem 2rem;

  background-color: var(--color-bg-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 2rem;
}

footer > a {
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

footer > a:hover {
  color: var(--color-accent);
}

#visits-image {
  height: 1.4rem;
}
